{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/footer-header/footer.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ $footer := site.Params.footer }}

<footer class="footer">
    <div class="container">
        <div class="row">

            {{/* Column 1 */}}
            <div class="col-md">
                <h3>{{ $footer.column1.headline }}</h3>
                <p>{{ $footer.column1.content }}</p>
            </div>
            {{/* End: Column 1 */}}

            {{/* Column 2 */}}
            <div class="col-md">
                <h3>{{ $footer.column2.headline }}</h3>
                <p>{{ $footer.column2.content }}</p>
            </div>
            {{/* End: Column 2 */}}

            {{/* Column 3 */}}
            <div class="col-md">
                <h3>{{ $footer.column3.headline }}</h3>
                <p>{{ $footer.column3.content }}</p>
            </div>
            {{/* End: Column 3 */}}

            {{/* Column 4 */}}
            <div class="col-md">
                <nav id="footer">
                    {{ $currentPage := . }}
                    {{ $page := .Page }}

                    {{/* https://discourse.gohugo.io/t/range-length-or-last-element/3803/3 */}}
                    {{ $list := site.Menus.footer }}
                    {{/* Counting the menu entries */}}
                    {{ $len := (len $list) }}

                    <h3>{{ $footer.column4.headline }}</h3>
                    <ul class="no-bullet">
                        {{ range $index, $element := $list }}
                            {{ $is := $page.IsMenuCurrent "footer" . }}
                            {{ $has := $page.HasMenuCurrent "footer" . }}
                            {{/* Add class 'is-active' if page is active */}}
                            <li {{ if or $is $has }} class="is-active"{{ end }}>
                                <a href="{{ .URL }}">
                                    {{ .Name }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
            {{/* End: Column 4 */}}

        </div>
    </div>
</footer>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/footer-header/footer.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
