{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/footer-header/foot.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




<section class="section">
    <div class="container">
        <p id="bottom" class="text-center">
            © {{ if eq now.Year 2018 }}
                2018
            {{ else }}
                2018-{{ now.Year }}
            {{ end }}
            &middot;

            {{ site.Title }}
            &middot;

            {{ if site.Params.owner.url }}
                <a href="{{ site.Params.owner.url }}">{{ if site.Params.owner.company }}{{ site.Params.owner.company }}{{ else }}{{ site.Params.owner.name }}{{ end }}</a>
            {{ end }}

            {{/*
                After the name a mid dot shall appear if more content follows. To achieve this the
                mid dot is set in the next paramter. This ensures that there's no mid dot if only the name is set.
            */}}
            {{ with site.Params.owner.strasse }}
                &middot;
                {{ . }}
            {{ end }}

            {{ with site.Params.owner.plz }}
                &middot;
                {{ . }}
            {{ end }}

            {{ with site.Params.owner.ort }}
                {{ . }}
            {{ end }}

            {{ with site.Params.owner.mobile }}
                &middot;
                Mobil: {{ . }}
            {{ end }}

            {{ with site.Params.owner.fon }}
                &middot;
                Tel: {{ . }}
            {{ end }}
            <br>
        </p>
    </div>
</section>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/footer-header/foot.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
