{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/footer-header/header_nav.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{/* The vertical Lines are created by 'nav ul li:not(:last-child)' in 'styles.css' */}}
{{ $currentPage := . }}
{{ $page := .Page }}

{{/* https://discourse.gohugo.io/t/range-length-or-last-element/3803/3 */}}
{{ $list := site.Menus.main }}
{{ $len := len $list }}
{{/*
    Counting the menu entries:
        <p>Number menu entries: {{ $len }}</p>
*/}}

<ul class="menu">
    {{ range $index, $element := $list }}
        {{ $is := $page.IsMenuCurrent "main" . }}
        {{ $has := $page.HasMenuCurrent "main" . }}
        {{/* Add class 'active' if page is active */}}
        <li{{ if or $is $has }} class="is-active"{{ end }}>
            <a href="{{ .URL }}">
                {{ .Pre }} {{ .Name }}
            </a>
        </li>
    {{ end }}
</ul>


{{/* Separate the link items by a pipe symbol but not the last entry. */}}
{{/*
    <nav id="mainmenu">
        {{ $currentPage := . }}
        {{ $list := (site.Menus.main) }}
        {{ $len := (len $list) }}
        <ul>
            <!-- All sites shall have a link to the home page except the home page -->
            {{ if not .IsHome }}
            <li><a href="/">Home</a></li>
            {{ end }}

            {{ range $index, $element := $list }}
            <li {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} class="active anyclass" {{ else }} class="anyclass" {{ end }}>
                <a {{ if eq (add $index 1) $len }} class="anyclass" {{ else }} class="anyclass border-right" {{ end }} href="{{ .URL | absURL }}">
                    {{ .Pre }} {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
*/}}

{{/*
    Alternative for highlighting active menu item:
    https://gist.github.com/Lego2012/2093737e694c75a443acb57535974175
*/}}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/footer-header/header_nav.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
