{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/footer-header/header.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




<div class="container fluid">
    <p>
        {{/* There should be no Link to the Homepage on the homepage. On all other sides there should be one */}}
        {{ if not .IsHome  }}
            <a class="link" href={{if eq hugo.Environment "local"}}"./index.html"{{else}}"/"{{end}}>
                {{ site.Params.header.logo_with_link}}
            </a>
        {{ else }}
            <span>{{ site.Params.header.logo_without_link}}</span>
        {{ end }}
    </p>
</div>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/footer-header/header.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
