{{/* <!-- NOTE: https://bookdown.org/yihui/blogdown/templates.html --> */}}

{{ partial "header.html" . }}

{{if not .IsHome }}
    <h1>
        {{ .Title }}
    </h1>
{{ end }}

{{ .Content }}

<ul>
    {{ range (where .Data.Pages "Section" "!=" "") }}
        <li>
            <span class="date">
                {{ .Date.Format "2006/01/02" }}
            </span>
            <a href="{{ .URL }}">
                {{ .Title }}
            </a>
        </li>
    {{ end }}
</ul>

{{ partial "footer.html" . }}
