{{ define "header" }}
    {{ partial "menu" . }}
{{ end }}


{{ define "main" }}

    <header>
        <h1>
            {{ .Title }}
        </h1>
    </header>

    {{ range .Paginator.Pages }}
        {{ partial "page-summary" . }}
    {{ end }}

{{ end }}


{{ define "footer" }}
    {{ partial "pagination" . }}
    {{ partial "powered-by" . }}
{{ end }}
