{{ partial "header" . }}

<main>

    <h2>
        {{ .Title }}
    </h2>

    {{ range (.Paginator 5).Pages }}
        {{ partial "list-item" . }}
    {{ end }}

</main>

{{ if or .Paginator.HasPrev .Paginator.HasNext }}

    <div class="pages">

        {{ if .Paginator.HasPrev }}
            <a class="icon pages-icon" href="{{ .Paginator.Prev.URL }}" rel="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
        {{ end }}

        {{ if .Paginator.HasNext }}
            <a class="icon pages-icon" href="{{ .Paginator.Next.URL }}" rel="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        {{ end }}

    </div>
    
{{ end }}

{{ partial "footer" . }}
