<!DOCTYPE html>
<html lang="{{ .Lang }}">

{{ partial "head" . }}

<body>

    {{ partial "nav" . }}

    <header class="header-section ">
        <div class="intro-header no-img">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="page-heading">
                            <h2>
                                #{{ .Title }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="posts-list">
                    {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
                    {{ range $pag.Pages }}
                        <article class="post-preview">
                            <a href="{{ .Permalink }}">
                                <h2 class="post-title">
                                    {{ .Title }}
                                </h2>

                                {{ if .Params.subtitle }}
                                    <h3 class="post-subtitle">
                                        {{ .Params.subtitle }}
                                    </h3>
                                {{ end }}
                            </a>

                            <p class="post-meta">
                                {{ default (i18n "dateFormat") site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
                            </p>

                            <div class="post-entry">
                                {{ if .Truncated }}
                                    {{ .Summary }}
                                    <a href="{{ .Permalink }}" class="post-read-more">
                                        [{{ i18n "readMore" }}]
                                    </a>
                                {{ else }}
                                    {{ .Content }}
                                {{ end }}
                            </div>

                            {{ if .Params.tags }}
                                <span class="post-meta">
                                    {{ range .Params.tags }}
                                        #<a href="{{ $site.LanguagePrefix }}/tags/{{ . | urlize }}">
                                            {{ . }}
                                        </a>
                                        &nbsp;
                                    {{ end }}
                                </span>
                            {{ end }}

                        </article>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}

</body>
</html>
