<!-- layouts/_default/list.html -->
{{ with .Pages }}

    {{ range . }}
        <h2>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <h6>{{ .Date.Format "January, 02 2006" }}</h6>
        <p>
            {{ .Summary }}
        </p>
        <hr>
    {{ end }}

{{ else }}

    <!-- no posts found -->

{{ end }}
