{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/map/map_container.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{/*
    https://www.openstreetmap.org/#map=9/51.6223/7.9637

    Copy coordinates from HTML code OpenStreetMap and put in 'config.toml'
*/}}

{{ if eq .Params.showMap "yes" }}
    <h2>{{ site.Params.geo.title }}</h2>

    <div>
        <iframe width="{{ site.Params.geo.width }}" height="{{ site.Params.geo.height }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ site.Params.geo.pre_embed }}{{ site.Params.geo.embed }}"></iframe>
        <small><a href="{{ site.Params.geo.pre_embed }}{{ site.Params.geo.embed }}{{ site.Params.geo.map_big }}">{{ site.Params.geo.map_big_text }}</a></small>
    </div>

{{ else }}
    <p>'showMap' is not set in Front Matter of the page.</p>
{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/map/map_container.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
