{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/google/robots_googlebot.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ if and (eq hugo.Environment "production") (not .Params.robotsdisallow) }}
    {{/* For all Search Engines */}}
    <meta name="robots" content="index, follow"/>
    {{/* Google Specific */}}
    <meta name="googlebot" content="index,follow">
{{ else }}
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="googlebot" content="noindex,nofollow">
{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/google/robots_googlebot.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
