{{/* SECTION: Start Shortcode
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Shortcode 'layouts/shortcodes/pages/human_sitemap.html' -->` | safeHTML }}
{{ end }}
{{/* End: Start Shortcode */}}




{{/* Generates a site map for humans where pages and posts are listed in alphabetical order. */}}

{{ $headline := site.Params.human_sitemap }}

<h2>{{ $headline.pages_headline }}</h2>

<ul>
    {{ range (where site.Pages.ByTitle ".Type" "page") }}
        <li>
            <article itemscope itemtype="http://schema.org/Blog">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </article>
        </li>
    {{ end }}
</ul>

<h2>{{ $headline.posts_headline }}</h2>

<ul>
    {{ range (where site.Pages.ByTitle ".Type" "blog") }}
        <li>
            <article itemscope itemtype="http://schema.org/Blog">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </article>
        </li>
    {{ end }}
</ul>




{{/* SECTION: End Shortcode
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Shortcode 'layouts/shortcodes/pages/human_sitemap.html' -->` | safeHTML }}
{{ end }}
{{/* End: End Shortcode */}}
