/* ==========================================================================
Fonts styles
========================================================================== */

// Google Fonts
// @import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Inconsolata|Montserrat:400,700');

// Font Variables
// These variables are only used by 'assets/scss/base/typography.scss'!
$headline: "Gamja Flower", cursive;
$bodyfont: "Montserrat", sans-serif;
$codefont: "Inconsolata", monospace;
