/* ==========================================================================
General layout styles
========================================================================== */

// These colors come from 'config.toml' Custom Colors
// The variables are declared in 'assets/scss/main.scss' Sass Variables
// The logic is in 'layouts/partials/css.html' ExecuteAsTemplate
body {
  background-color: $background_color;
  color: $font_color;
}
