/* ==========================================================================
Sass Placeholders styles

  http: //thesassway.com/intermediate/understanding-placeholder-selectors
========================================================================== */

%padding {
  padding-top: rem-calc(16px);
  padding-bottom: rem-calc(16px);
}
