/* ==========================================================================
Util styles
========================================================================== */

/**

    Make all elements from the DOM inherit from the parent box-sizing
    Since '*' has a specificity of 0, it does not override the 'html' value
    making all elements inheriting from the root box-sizing value
    See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

        *, *::before, *::after {
            box-sizing: inherit;
        }

    Set up a decent box model on the root element

        html {
            box-sizing: border-box;
        }

    These rules are deactivated here because they are already included in 'assets/dependencies/_modern-normalize.scss'

*/

/**

    Force vertical Scrollbar

        html { height: 101% }

    or

        html { overflow-y: scroll; }

*/

html {
    overflow-y: scroll;
}

// Gets rid of the annoying outline for mouse users but preserves it for keyboard users
// https://gist.github.com/Lego2012/aec204e71073601d8d8eff99f6e258cd
:focus:not(:focus-visible) {
    outline: none;
}

// Icons
i {
    margin-left: rem-calc(30px);
}

// Resets
// Preloader
// Back to top button
// Helpers
.origin {
    background-color: $light-grey;
}

// Template Used
.template-used {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: aquamarine;
}

// Reset The Backgrounds Of button And input Elements
// https://www.smashingmagazine.com/2018/12/common-css-issues-front-end-projects/
button {
    appearance: none;
    background: transparent;
    /* Other styles */
}

// When an article is being viewed on a mobile screen, a long word or inline link might cause a horizontal scroll bar to appear. Using CSS’ word-break will prevent that from happening.
// https://www.smashingmagazine.com/2018/12/common-css-issues-front-end-projects/
.article-content p {
    word-break: break-all;
}

