{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/seo/og.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />


{{/* SECTION: og:image
======================================================================= */}}

{{ if .IsPage }}
    {{ with .Params.images }}
        {{ range first 6 . }}
            <meta property="og:image" content="{{ . }}" />
        {{ end }}
    {{ end }}

{{ else }}

    {{ with site.Params.images }}
        {{ range first 6 . }}
            <meta property="og:image" content="{{ . }}" />
        {{ end }}
    {{ end }}
{{ end }}


{{ if not .Date.IsZero }}
    <meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
{{ end }}

{{ with .Params.audio }}
    <meta property="og:audio" content="{{ . }}" />
{{ end }}

{{ with .Params.locale }}
    <meta property="og:locale" content="{{ . }}" />
{{ end }}

{{ with site.Params.title }}
    <meta property="og:site_name" content="{{ . }}" />
{{ end }}

{{ with .Params.videos }}
    {{ range .Params.videos }}
        <meta property="og:video" content="{{ . }}" />
    {{ end }}
{{ end }}

{{/* End: og:image */}}




{{/* SECTION: Authors
======================================================================= */}}

{{ if .IsPage }}
    {{ range site.Params.Authors }}
        {{ with .Social.facebook }}
            <meta property="article:author" content="https://www.facebook.com/{{ . }}" />
        {{ end }}
        {{ with site.Social.facebook }}
            <meta property="article:publisher" content="https://www.facebook.com/{{ . }}" />
        {{ end }}

        <meta property="article:published_time" content="{{ .PublishDate }}" />
        <meta property="article:modified_time" content="{{ .Date }}" />
        <meta property="article:section" content="{{ .Section }}" />

        {{ with .Params.tags }}
            {{ range first 6 . }}
                <meta property="article:tag" content="{{ . }}" />
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{/* End: Authors */}}




{{/* SECTION: Facebook
======================================================================= */}}

{{/* Facebook Page Admin ID for Domain Insights */}}
{{ with site.Social.facebook_admin }}
    <meta property="fb:admins" content="{{ . }}" />
{{ end }}

{{ with site.Social.facebook_app_id }}
    <meta property="fb:app_id" content="{{ . }}" />
{{ end }}

{{/* End: Facebook */}}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/seo/og.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
