{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/seo/twitter.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ if .IsPage }}

    {{ with .Params.images }}
        {{/* Twitter summary card with large image must be at least 280x150px */}}
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:image:src" content="{{ index . 0 }}"/>
        <meta name="twitter:card" content="summary"/>
    {{ end }}

    {{/* Twitter Card data */}}
    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>

    {{ with site.Social.twitter }}
        <meta name="twitter:site" content="@{{ . }}"/>
    {{ end }}

    {{ with site.Social.twitter_domain }}
        <meta name="twitter:domain" content="{{ . }}"/>
    {{ end }}

    {{ range site.Authors }}
        {{ with .twitter }}
            <meta name="twitter:creator" content="@{{ . }}"/>
        {{ end }}
    {{ end }}

{{ else }}

    <meta name="twitter:card" content="summary" />

    {{ with site.Social.twitter }}
        <meta name="twitter:site" content="@{{ . }}"/>
    {{ end }}

    <meta name="twitter:title" content="{{ .Title }}"/>
    <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>

    {{ with site.Params.images }}
        {{ range first 6 . }}
            <meta name="twitter:image" content="{{ . }}" />
        {{ end }}
    {{ end }}

{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/seo/twitter.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
