<p>layouts/partials/author-figure.html</p>

<figure>
    <img src="{{ .Params.avatar }}" alt="" />
    <figcaption>
        <p>
            {{ .Summary }}
        </p>
        <p>
            <a href="{{ .Permalink }}" class="block-link">
                More about {{ .Params.name }}
            </a>
        </p>
    </figcaption>
</figure>
