{{/* SECTION: Start Shortcode
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Shortcode 'layouts/shortcodes/images/image_with_shadow.html' -->` | safeHTML }}
{{ end }}
{{/* End: Start Shortcode */}}




<div>
    <img src="/images/{{ .Get 0 }}.jpg" alt="{{ .Get 1 }}">
</div>

<div class="absolute test-bild" style="margin-top: -3.5%;">
    <img src="/elements/double-shadow.png" alt="">
</div>




{{/* SECTION: End Shortcode
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Shortcode 'layouts/shortcodes/images/image_with_shadow.html' -->` | safeHTML }}
{{ end }}
{{/* End: End Shortcode */}}
