{{/* SECTION: Start Shortcode
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Shortcode 'layouts/shortcodes/images/img.html' -->` | safeHTML }}
{{ end }}
{{/* End: Start Shortcode */}}




{{/* https://github.com/okabrionz/simpleblox */}}

<figure {{ with .Get "class" }} class="{{.}}" {{ end }}>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img class="img-fluid" src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"
            {{ end }} />
        {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
            {{ .Get "caption" }}
            {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
                {{ .Get "attr" }}
                {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>




{{/* SECTION: End Shortcode
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Shortcode 'layouts/shortcodes/images/img.html' -->` | safeHTML }}
{{ end }}
{{/* End: End Shortcode */}}
