{{ define "main" }}

    <p>layouts/authors/list.html</p>

    <h1>{{ .Params.name }}</h1>
    {{ .Render "photo" }}

    <h2>Bio</h2>
    {{ .Content }}

    <h2>Articles</h2>
    {{ range .Data.Pages }}
        {{ .Render "article" }}
    {{ end }}

{{ end }}
