<p>layouts/authors/photo.html</p>

{{ with .Params.photo_url }}
    <figure>
        <img src="{{ . }}" alt="">

        {{ with $.Params.photo_credit }}
            <figcaption>
                Photo credit {{ . | markdownify }}</a>
            </figcaption>
        {{ end }}

    </figure>
{{ end }}
