<p>layouts/_default/article.html</p>

<article>
    <h3><a href="{{ .Permalink }}" class="block-link">{{ .Title }}</a></h3>
    <p>
        {{ .Summary | truncate 200 }}
        <a href="{{ .Permalink }}">Read more</a>
    </p>
    <p class="byline">
        by {{ .Render "author-link" }}
    </p>
</article>
