<!doctype html>
<html lang="{{ site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ site.BaseURL }}{{ end }}">
    <title>{{ site.Title }}</title>
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>

    {{ block "header" . }}
        {{ partial "header" . }}
    {{end}}

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}
        {{ partial "footer" . }}
    {{end}}

    <script src="app.js"></script>

</body>

</html>
