{{ define "main" }}

    <p>layouts/_default/single.html</p>

    <article>
        <header>
            <h1>{{ .Title }}</h1>
            <p>by {{ .Render "author-link" }}
        </header>

        {{ .Content }}

        <footer>
            <h2>About the {{ cond (eq (len .Params.authors) 1) "author" "authors" }}</h2>
            {{ .Render "author-figure" }}
        </footer>
    </article>

{{ end }}
