@charset "utf-8";

/***************************************************************\

    Sass Variables Hugo and Custom Color Variables
    https://blog.fullstackdigital.com/how-to-use-hugo-template-variables-in-scss-files-in-2018-b8a834accce

    The logic is in 'layouts/partials/css.html' ExecuteAsTemplate

    Some color libraries:
        http://www.colorexplorer.com/colorlibraries.aspx
        https://www.quackit.com/css/css_color_codes.cfm
        https://www.rapidtables.com/web/css/css-color.html
        https://clrs.cc/

\***************************************************************/
// These colors come from 'config.toml' Custom Colors
$background_color: {{ site.Params.background_color | default "white" }};
$font_color: {{ site.Params.box_color | default "black" }};

// These colors come from 'data/colors.toml'
$primary_color: {{ site.Data.colors.primary_color | default "black" }};
$seven: {{ site.Data.colors.other_colors.seven | default "silver" }};

// These are individual variables which are set only here in 'assets/scss/main.scss'
$brand-color: #00416a;

$black: #111111;

$header-color: #6a2900;
$nav-color: #5e006a;
$footer-color: #0c6a00;

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: #4FC1EA;
$secondary: #F39200;
$accent: #00efb7;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;




/************************************************************************\
    Bootstrap 4

        https://medium.com/@programmiri/my-favored-scss-setup-with-bootstrap-4-547e9ea290f8

        The Bootstrap default values are overwritten in
        'assets/scss/bootstrap/_pre_default.scss'
\************************************************************************/
@import 'bootstrap/config';




/************************************************************************\
    Custom Styles

        Font Awesome is imported by 'assets/scss/partials/_fonts.scss'
        Google Fonts are imported by 'assets/scss/partials/_fonts.scss'
\************************************************************************/
// Vendors
// 'assets/scss/vendors/mixin-library-1'
@import "mixin-library-1/mixins";

// 'assets/scss/vendors/mixins-library-2'
@import "mixins-library-2/mixins-main";

// 'assets/scss/vendors': UI Gradients
@import "uigradients/gradient-mixins";
@import "uigradients/gradients";

// Custom partials
@import "partials/mixins";
@import "partials/placeholders";

@import "partials/utilities";
@import "partials/animations";
@import "partials/buttons";
@import "partials/dropdowns";
@import "partials/fonts";
@import "partials/forms";
@import "partials/images";
@import "partials/links";
@import "partials/responsive";
@import "partials/taxonomies";
@import "partials/typography";
@import "partials/layout";

@import "partials/navigation";
@import "partials/sidebar";

@import "partials/header";
@import "partials/hero";
@import "partials/sections";
@import "partials/posts";
@import "partials/testimonials";
@import "partials/cards";
@import "partials/footer";
