{{/*
      Aus https://github.com/zwbetz-gh/cayman-hugo-theme

      Er setzt hier die Variable '$active', um das Menu zu konfigurieren.
      Dann wird diese Variable mit der neuen Funktionalität aus Hugo 0.48
      (https://gohugo.io/news/0.48-relnotes/) verändert, wenn bestimmte
      Bedingungen greifen.

      Beispiel: Der Inhalt der Variable '$active' wird 'Blog', wenn der Name 'Blog'
      ist oder die Section 'Post'.
*/}}

<nav>
  {{ $current := . }}
  {{ range site.Menus.nav }}
    {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
    {{ $active = or $active (eq .Name $current.Title) }}
    {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
    {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
    <a href="{{ .Permalink }}" class="btn">{{ .Name }}</a>
  {{ end }}
</nav>
