{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/privacy/cookie.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ $cookie := site.Params.cookie }}

<script type="text/javascript">
    window.cookieconsent_options = {
        message: '{{ if eq site.LanguageCode "de" }}{{ $cookie.message_german }}{{ else }}{{ $cookie.message }}{{ end }}',
        dismiss: '{{ if eq site.LanguageCode "de" }}{{ $cookie.dismiss_german }}{{ else }}{{ $cookie.dismiss }}{{ end }}',
        learnMore: '{{ if eq site.LanguageCode "de" }}{{ $cookie.learn_more_german }}{{ else }}{{ $cookie.learn_more }}{{ end }}',
        link: '{{ $cookie.link }}',
        theme: '{{ $cookie.theme }}'
    };
</script>

<script type="text/javascript" src="//s3.amazonaws.com/valao-cloud/cookie-hinweis/script-v2.js"></script>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/privacy/cookie.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
