{{ define "main" }}

    {{/* SECTION: Start Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- Start Template 'layouts/blog/cupcakes-pdf.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: Start Template */}}




    {{ .Content }}

    {{ partial "elements/divider.html" . }}

    <p>The query is <code>.Resources.ByType "image"</code></p>

    {{/* Gets all the images in 'content/i-love-eating-cupcakes' */}}
    {{ with .Resources.ByType "pdf" }}
        <div class="Image">
            {{ range . }}
                <a href="{{ .RelPermalink }}">PDF Datei</a>
            {{ end }}
        </div>
    {{ end }}




    {{/* SECTION: End Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- End Template 'layouts/blog/cupcakes-pdf.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: End Template */}}
    
{{ end }}

