{{ define "main" }}

    {{/* SECTION: Start Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- Start Template 'layouts/blog/single.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: Start Template */}}


    {{ if in (print .Permalink) "blog" }}
        <p class="text-center" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ site.Params.post_single.headline }}
            <br>
            {{ .Title }} of {{ .Date.Day }}. {{ index site.Data.months_german (printf "%d" .Date.Month) }} {{ .Date.Year }}
            <br>
            <small>{{ partial "blog/reading_time.html" . }}</small>
            <br>
            {{ partial "blog/author.html" . }}
        </p>
    {{ end }}


    {{/* SECTION: Description
    ======================================================================= */}}

    {{/*
        This is the check whether the headline is longer than
        80 characters. In case this is true the class 'long-title'
        is added and so the larger headline can be styled with CSS.
   */}}

    <article>
        <p class="is-size-4">
            {{ site.Params.post_single.headline_article }} {{ .Params.description }}
        </p>

        {{ if .Params.draft }}
            <span style="color: red; font-weight: bold;">{{ site.Params.post_single.draft }}</span>
        {{ end }}

        {{ .Content }}
    </article>

    {{/* End: Description */}}




    {{/* SECTION: End Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- End Template 'layouts/blog/single.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: End Template */}}

{{ end }}


{{ define "addscripts" }}
    {{/* Here you can define individual scripts for the site which will use/overwrite the block in 'layouts/_default/baseof.html' */}}
{{ end }}
