{{/* SECTION: Start Template
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Template 'layouts/blog/summary.html' -->` | safeHTML }}
{{ end }}
{{/* End: Start Template */}}




<span>{{ humanize .Section }}</span>

<h1>
    <a href="{{ .Permalink }}" class="">
        {{ .Title }}
    </a>
</h1>

{{ .Summary }}




{{/* SECTION: End Template
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Template 'layouts/blog/summary.html' -->` | safeHTML }}
{{ end }}
{{/* End: End Template */}}
