{{/* SECTION: Start Template
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Template 'layouts/_default/baseof.html' -->` | safeHTML }}
{{ end }}
{{/* End: Start Template */}}




<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}">
<head>

    {{ partial "baseof/meta.html" . }}

    {{ partial "baseof/site-title.html" . }}

    {{ partial "baseof/description.html" . }}

    {{ hugo.Generator }}

    {{ partial "baseof/keywords.html" . }}

    {{ partial "baseof/mobile.html" . }}

    {{ partial "baseof/author.html" . }}

    {{ partial "baseof/content-language.html" . }}

    {{ partial "baseof/icons.html" . }}

    {{ partial "baseof/rss.html" . }}

    {{ partial "baseof/prev-next.html" . }}

    {{ partialCached "css.html" . }}

    {{ partialCached "baseof/debugcss.html" . }}

    {{ partialCached "baseof/cookie-alert.html" . }}

    {{ partialCached "baseof/font-awesome.html" . }}

    {{ partialCached "baseof/production-elements.html" . }}

</head>




{{/* NOTE: Overwrite Variable
======================================================================= */}}
{{/*
        https://gohugo.io/news/0.48-relnotes/
        The big new functional thing in Go 1.11 for Hugo is added support for variable overwrites.

        {{ $var := "Hugo Page" }}
        {{ if .IsHome }}
            {{ $var = "Hugo Home" }}
        {{ end }}
        Var is {{ $var }}
*/}}




{{ partial "baseof/scratch.html" . }}




{{/* SECTION: Body
======================================================================= */}}

<body id="top" class='{{ delimit (.Scratch.Get "classes") " " }}'>

    {{/* SECTION: Block Header
    ======================================================================= */}}

    {{/*
        Header is styled in 'assets/scss/partials/_header.scss' so the
        background-color can expand the whole viewport. The other DIVs are
        set in 'layouts/partials/footer-header/header.html'.
   */}}
    <header>
        {{ block "header" . }}
            {{ partial "footer-header/header.html" . }}
        {{ end }}
    </header>

    {{/* End: Block Header */}}




    {{/* SECTION: Block Header Navigation
    ======================================================================= */}}

    {{/*
        header_nav is styled in 'assets/scss/_header-and-footer.scss' so the
        background-color can expand the whole viewport. The other DIVs are
        set in 'layouts/partials/footer-header/header_nav.html'.
   */}}
    <nav id="mainmenu">
        {{ block "header_nav" . }}
            {{ partial "footer-header/header_nav.html" . }}
        {{ end }}
    </nav>

    {{/* End: Block Header Navigation */}}




    {{/* SECTION: Block Main
    ======================================================================= */}}

    {{/* If the page is the homepage just define the block "main" here. */}}
    {{ if .IsHome }}

        {{ block "main" . }}
            {{/* Content comes from template with 'define main' */}}
        {{ end }}

    {{/* If it's not the homepage add the following Tags. */}}
    {{ else }}

        <section class="section">
            <div class="container">
                {{ block "main" . }}
                    {{/* Content comes from template with 'define main' */}}
                {{ end }}
            </div>
        </section>

    {{ end }}

    {{/* End: Block Main */}}




    {{/* SECTION: Categories, Tags
    ======================================================================= */}}

    {{/* The DIVs are defined in the partials */}}

    {{/* If all paramteres are set */}}
    {{ if and (isset .Params "categories") (isset .Params "tags") }}

        {{ partial "terms-taxonomies.html" . }}

    {{ else }}

        {{/* If nothing is set do nothing */}}

    {{ end }}

    {{/* End: Categories, Tags */}}




    {{/* SECTION: Block Footer
    ======================================================================= */}}

    {{/*
        The background color shall expand across the whole viewport. It is
        set in 'assets/scss/_footer.scss'. Also the DIVs are set there.
   */}}
    {{ block "footer" . }}
        {{ partial "footer-header/footer.html" . }}
    {{ end }}

    {{/* End: Block Footer */}}




    {{/* SECTION: Partial Foot
    ======================================================================= */}}

    {{/* The DIVs are set in 'layouts/partials/footer-header/foot.html'. */}}
    {{ partialCached "footer-header/foot.html" . }}

    {{/* End: Block Foot */}}




    {{/* SECTION: JavaScript
    ======================================================================= */}}

    {{ partialCached "js.html" . }}

    {{/* End: JavaScript */}}




    {{/* SECTION: Add Scripts
    ======================================================================= */}}

    {{ block "addscripts" . }}
        {{/* for adding additional scripts based on page template */}}
    {{ end }}

    {{/* End: Add Scripts */}}

</body>
</html>




{{/* SECTION: End Template
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Template 'layouts/_default/baseof.html' -->` | safeHTML }}
{{ end }}
{{/* End: End Template */}}
