{{ define "main" }}

    {{/* SECTION: Start Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- Start Template 'layouts/_default/taxonomy.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: Start Template */}}




    <div class="taxonomies">

        <h2>These are our taxonomies</h2>

        {{/* SECTION: Tags
        ======================================================================= */}}

        <h3>The tags:</h3>
        <section id="menu">
            <ul>
                {{ range $key, $taxonomy := site.Taxonomies.tags }}
                    <li> {{ $key }} </li>
                    <ul>
                        {{ range $taxonomy.Pages }}
                            <li hugo-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </ul>
        </section>

        {{/* End: Tags */}}

        {{/* SECTION: Categorys
        ======================================================================= */}}

        <h3>The categories:</h3>
        <section id="menu">
            <ul>
                {{ range $key, $taxonomy := site.Taxonomies.categories }}
                    <li> {{ $key }} </li>
                    <ul>
                        {{ range $taxonomy.Pages }}
                            <li hugo-nav="{{ .RelPermalink}}"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </ul>
        </section>

        {{/* End: Categorys */}}

    </div>



    {{/* SECTION: End Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- End Template 'layouts/_default/taxonomy.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: End Template */}}
    
{{ end }}


{{ define "addscripts" }}
    {{/* Here you can define individual scripts for the site which will use/overwrite the block in 'layouts/_default/baseof.html' */}}
{{ end }}
