{{ define "main" }}

    {{/* SECTION: Start Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- Start Template 'layouts/_default/terms.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: Start Template */}}




    <h1>{{ .Title }}</h1>

    {{ .Content }}

    {{ partial "elements/divider.html" . }}

    {{/* Range Terms */}}
    {{ $data  := .Data }}
    {{ $title := .Title }}
    {{ range $key, $value := .Data.Terms }}
        <ul class="{{ lower $title }}">
            <li class="{{ lower $title | urlize }}-item">
                <a class="{{ lower $title | urlize }}-link" href="/{{ $data.Plural }}/{{ $key | urlize }}">
                    {{ $key }}
                </a> <span>({{ len $value }})</span>
            </li>
        </ul>
    {{ end }}
    {{/* End: Range Terms */}}



    {{/* SECTION: End Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- End Template 'layouts/_default/terms.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: End Template */}}
    
{{ end }}


{{ define "addscripts" }}
    {{/* Here you can define individual scripts for the site which will use/overwrite the block in 'layouts/_default/baseof.html' */}}
{{ end }}
