{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/pages/about.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ if site.Params.about.enable }}
    <!-- About Section -->
    <section id="about" class="section about bg-gray">
        <div class="container">
            <div class="row">

                <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                            {{ with site.Params.about.heading }}
                                <h3>{{ . }}</h3>
                            {{ end }}
                        </div>

                        {{ with site.Params.about.description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                    </div>
                </div>

                <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="about-slider">
                        {{ range site.Params.about.sliderItem }}
                            <img src="{{ .image }}" alt="slider-image">
                        {{ end }}
                    </div>
                </div>

            </div>
            {{/* /. row */}}
        </div>
        {{/* /. Container */}}
    </section>
{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/pages/about.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
