{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/pages/home_texte.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ $hometext := site.Params.homepage }}

<h2>{{ $hometext.headline }}</h2>

{{ range $hometext.content1 }}
    <p>{{ . | safeHTML }}</p>
{{ end }}

{{/*  <ul> muss außerhalb der range stehen, da sie sonst jedesmal mit dem <li> generiert würde */}}
<ul>
    {{ range $hometext.content2 }}
        <li>{{ . | safeHTML }}</li>
    {{ end }}
</ul>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/pages/home_texte.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
