{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/pages/range_pages.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




<div class="container">

    <div class="eins">
        {{ range .Data.Pages }}
            <div class="zwei">
                <div class="card">
                    {{ partial "blog/summary.html" . }}
                </div>
            </div>
        {{ end }}
    </div>
</div>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/pages/range_pages.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
