{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/pages/service.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ if site.Params.service.enable }}
    <!-- Service Section -->
    <section id="service" class="service section">
        <div class="container">
            <div class="row">

                <div class="heading wow fadeInUp">
                    {{ with site.Params.service.title }}
                        <h2>{{ . }}</h2>
                    {{ end }}

                    {{ with site.Params.service.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>

                {{ range site.Params.service.serviceItem }}
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="{{ .delay }}">
                        <div class="block">
                            <i class="{{ .icon }}"></i>
                            <h3>{{ .title }}</h3>
                            <p>{{ .description }}</p>
                        </div>
                    </div>
                {{ end }}

            </div>
            {{/* /. row */}}
        </div>
        {{/* /. Container */}}
    </section>
{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/pages/service.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
