{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/pages/show_pages.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ if eq .Params.show_pages "all" }}

    <ul>
        {{ range site.Pages }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </ul>

{{ else if eq .Page.Params.show_pages "regular" }}

    {{/*  <ul> muss außerhalb der range stehen, da sie sonst jedesmal mit dem <li> generiert würde */}}
    <ul>
        {{ range site.RegularPages }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </ul>

{{ else }}
    <p>'show_pages' is not set in Front Matter of the page.</p>
{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/pages/show_pages.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
