{{ define "main" }}

    <p>layouts/index.html</p>

    <h1>Multi-author Hugo example</h1>

    <p>
        <a href="https://gohugo.io/">Hugo</a> can create author pages that display the author’s name, their bio, and a list of their articles, like Wordpress does. <a href="https://github.com/imorente/hugo-multiauthor-example">Browse the code for this example site on GitHub</a>.
    </p>

    <h2>All articles</h2>

    {{ range where .Data.Pages "Type" "posts" }}
        {{ .Render "article" }}
    {{ end }}

{{ end }}
