<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">

<head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    {{ block "main" . }}
    {{ partial "hero.html" . }}
    {{ partial "section1.html" . }}
    {{ partial "section2.html" . }}
    {{ partial "section3.html" . }}
    {{ partial "section4.html" . }}
    {{ partial "section5.html" . }}
    {{ partial "footer.html" . }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ partial "sidebar.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}
</body>

</html>
