{{/* SECTION: Start Shortcode
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Shortcode 'layouts/shortcodes/headlines/h2.html' -->` | safeHTML }}
{{ end }}
{{/* End: Start Shortcode */}}




{{/*
    https://www.jakewiesler.com/blog/anchored-headings-in-hugo/

    Call shortcode with '{{% heading title="Look ma, a header!" %}}'

    With '.Inner' variable:
    {{% heading %}}Look ma, a header!{{% /heading %}}

    In that case shortcode can look like:
    {{ $anchorized := anchorize .Inner }}

    <h2 id="{{ $anchorized }}">
        <a href="#{{ $anchorized }}">#</a>
        {{ .Inner }}
    </h2>
*/}}

<h2 id="{{ anchorize (.Get "title") }}">
    <a href="#{{ anchorize (.Get "title") }}">{{ .Get "title" }}</a>
</h2>




{{/* SECTION: End Shortcode
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Shortcode 'layouts/shortcodes/headlines/h2.html' -->` | safeHTML }}
{{ end }}
{{/* End: End Shortcode */}}
