{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/elements/scroll_down.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




<div class="scroll_down">
    <a class="link" href="#bottom">{{ site.Params.scroll.down }}</a>
</div>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/elements/scroll_down.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
