{{- $section3 := site.Params.section3 }}
{{- $title := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $image := index $section3 "image" }}
{{- $buttonText := index $section3 "buttontext" }}
{{- $buttonLink := index $section3 "buttonlink" }}

<section class="section section-feature-grey is-medium">
    <div class="grid-container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="has-text-centered">
                    <img class="pushed-image" src="{{ printf "/images/%s" $image | relURL }}">
                </div>
            </div>
        </div>

        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">{{ $title }}</h2>
            <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
        </div>

        <p class="has-text-centered mt-20">
            <a class="button cta is-large rounded secondary-btn raised" href="{{ $buttonLink }}">
                {{ $buttonText }}
            </a>
        </p>
    </div>
</section>
