{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/breadcrumb.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{/*
    https://github.com/okabrionz/simpleblox

    This is a partial which includes the template it refers to.
*/}}

<ol class="breadcrumb">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>

{{ define "breadcrumbnav" }}

    {{ if .p1.Parent }}
        {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) }} //
    {{ else if not .p1.IsHome }}
        {{ template "breadcrumbnav" (dict "p1" .p1site.Home "p2" .p2 ) }}
    {{ end }}

    <li {{ if eq .p1 .p2 }} class="breadcrumb-item" {{ end }}>
        <a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
    </li>

{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/breadcrumb.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
