{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/image.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ $image     := site.Params.image }}
{{ $pageimage := .Page.Params.page_image }}

{{ if .Params.page_image.name }}

    <figure>
        <img src="{{ $image.link }}{{ $pageimage.name }}.jpg" alt="{{ $pageimage.alt }}">
        <figcaption>
            {{ $image.content1  }}
        </figcaption>
    </figure>

{{ else }}

    <p>
        {{ $image.content2  }}
    </p>

{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/image.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
