{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/nested-menu.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ $nested_menu := site.Params.nested_menu }}

<p>
    {{ $nested_menu.content }} <a href="/top-level-section/">{{ $nested_menu.toplink }}</a> and <a href="/top-level-section/nested-section/">{{ $nested_menu.nestedlink }}</a>
</p>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/nested-menu.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
