{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/section-tree.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{/*
    https://discourse.gohugo.io/t/listing-of-sections-and-nested-sections-articles-partial/13415

    It is a modified version of: https://github.com/bep/hugotest/blob/master/layouts/partials/sections-tree.html
    that shows current section/nested section articles and then a tree of the subdirectories with their articles.
*/}}

<div>
    <ul>

        {{ if ne .IsHome true }}
            <h4>Articles:</h4>
            {{ template "current-section_pages" . }}
        {{end}}

        {{ partial "elements/divider.html" . }}

        {{ if gt (len .Sections) 0}}
            <h4>Subcategories</h4>
            {{ template "section-tree-nav" . }}
        {{end}}

    </ul>
</div>

{{ define "section-tree-nav" }}
    {{ range .Sections }}

        <li>
            <h5>
                <a href="{{.Permalink}}">
                    {{ .LinkTitle }}
                </a>
            </h5>
        </li>

        {{ template "current-section_pages" . }}

        <ul>
            {{ template "section-tree-nav" . }}
        </ul>

    {{ end }}
{{ end }}

{{ define "current-section_pages" }}
    <ul>
        {{ range .Pages }}
            <li>
                <a href="{{ .Permalink}}">
                    {{ .LinkTitle }}
                </a>
            </li>
        {{ end }}
    </ul>
{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/section-tree.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
