{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/section-tree-bep.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{/*
    https://github.com/bep/hugotest/blob/master/layouts/partials/sections-tree.html
*/}}

<div class="css-treeview box">
    <ul>
        <li>
            <input type="checkbox" id="item-0" checked="checked" />
            <label for="item-0">
                Home
            </label>
            
            <ul>
                {{ template "section-tree-nav" site.Home }}
            </ul>
    </ul>
</div>

{{ define "section-tree-nav" }}
    {{ range .Sections.Reverse}}
        <li>
            <li>
                <input type="checkbox" id="item-0-0" checked="checked" />
                <label for="item-0-0">{{ .Title }}</label>
                <ul>
                    {{ range .Pages }}
                        <li><a href="{{ .RelPermalink}}">{{ .Title }}</a></li>
                    {{ end }}

                    <ul>
                        {{ template "section-tree-nav" . }}
                    </ul>
                </ul>
            </li>
        </li>
    {{ end }}
{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/section-tree-bep.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
