{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/terms-taxonomies.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ if .Params.tags }}

    <div class="card">
        <div class="card-divider">
            {{ site.Params.taxonomies.if_tags }}
        </div>
        <div class="card-section">
            {{ range .Params.tags }}
                <ul class="card-body no-bullet text-center">
                    <li>
                        <a href="/tags/{{ . | urlize }}">{{ . }}</a>
                    </li>
                </ul>
            {{ end }}
        </div>
    </div>

{{ else }}

    <div class="card">
        <div class="card-divider">
            {{ site.Params.categories.no_tags }}
        </div>
    </div>

{{ end }}

{{ if .Params.categories }}

    {{/* SECTION: Template used
        ======================================================================= */}}

    {{ if site.IsServer }}
    {{ `<!-- Partial used 'layouts/partials/terms-taxonomies.html' -->` | safeHTML }}
    {{ end }}

    {{/* End: Template used */}}

    <div class="card">
        <div class="card-divider">
            {{ site.Params.taxonomies.if_categories }}
        </div>
        <div class="card-section">
            {{ range .Params.categories }}
            <ul class="card-body no-bullet text-center">
                <li>
                    <a href="/categories/{{ . | urlize }}">{{ . }}</a>
                </li>
            </ul>
            {{ end }}
        </div>
    </div>

{{ else }}

    <div class="card">
        <div class="card-divider">
            {{ site.Params.categories.no_categories }}
        </div>
    </div>

{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/terms-taxonomies.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
