{{ define "main" }}
    {{/* SECTION: Start Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- Start Template 'layouts/404.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: Start Template */}}




    <h1 itemprop="headline">{{ site.Params.error.headline }}</h1>

    <section itemprop="entry-text">
        <p>{{ site.Params.error.content1 }}</p>
        <p>{{ site.Params.error.content2 }}</p>
    </section>




    {{/* SECTION: End Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- End Template 'layouts/404.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: End Template */}}
{{ end }}


{{ define "addscripts" }}
    {{/* Here you can define individual scripts for the site which will use/overwrite the block in 'layouts/_default/baseof.html' */}}
{{ end }}
