{{ define "main" }}
    {{/* SECTION: Start Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- Start Template 'layouts/index.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: Start Template */}}

    {{/* SECTION: Scroll Down
    ======================================================================= */}}

    <section class="section">
        <div class="container">

            {{ partial "elements/scroll_down.html" . }}

            {{ partial "elements/divider.html" . }}

        </div>
    </section>

    {{/* End: Scroll Down */}}




    {{/* SECTION: Content
    ======================================================================= */}}

    <section class="section">
        <div class="container">

            {{/* SECTION: Nested Menus
            ======================================================================= */}}

            {{ partial "nested-menu.html" . }}

            {{ partial "elements/divider.html" . }}

            {{/* End: Nested Menus */}}

            {{ partial "headline.html" . }}

            {{ partial "elements/divider.html" . }}

            <div class="content">
                <!-- Content from 'layouts/_index.md' -->
                {{ .Content | safeHTML }}
            </div>

            {{ partial "elements/divider.html" . }}

            {{/* SECTION: OpenStreetMap
            ======================================================================= */}}

            {{/* Partial is only shown if in page Front Matter 'map_show: yes' */}}
            <div>
                {{ partial "map/map_container.html" . }}
            </div>

            {{ partial "elements/divider.html" . }}

            {{/* End: OpenStreetMap */}}

        </div>
    </section>




    {{/* SECTION: Show Pages
    ======================================================================= */}}

    {{/* In partial condition is '.Page.Params.show_pages' 'all' or 'regular' */}}
    <section class="section">
        <div class="container">

            {{ partial "pages/show_pages.html" . }}

            {{ partial "elements/divider.html" . }}

        </div>
    </section>

    {{/* End: Show Pages */}}

    {{/* End: Content */}}




    {{/* SECTION: Homepage text
    ======================================================================= */}}

    <section class="section">
        <div class="container">

            {{ partial "pages/home_texte.html" . }}

            {{ partial "elements/divider.html" . }}

        </div>
    </section>

    {{/* End: Homepage text */}}




    {{/* SECTION: To top
    ======================================================================= */}}

    <section class="section">
        <div class="container">
            {{ partial "elements/scroll_up.html" . }}

            {{ partial "elements/divider.html" . }}
        </div>
    </section>

    {{/* End: To top */}}




    {{/* SECTION: End Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- End Template 'layouts/index.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: End Template */}}
{{ end }}


{{ define "addscripts" }}
    {{/* Here you can define individual scripts for the site which will use/overwrite the block in 'layouts/_default/baseof.html' */}}
{{ end }}
