{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/blog/summary.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




<div class="">
    <div class="">
        <div class="card">
            <div class="card-divider">
                <a href="{{ .RelPermalink }}" class="">
                    {{ if .Params.draft }}
                        <span style="color: red; font-size: 16px; font-weight: bold;">
                            Draft!
                        </span>
                    {{ end }}
                    {{ .Title }}
                </a>
            </div>

            <div class="card-section post-date">
                <small class="post-date">Published {{ .Date.Day }}. {{ index site.Data.months_german (printf "%d" .Date.Month) }} {{ .Date.Year }}</small>
                <div class="readingtime">
                    {{ partial "blog/reading_time.html" . }}
                </div>
            </div>

            <img src="" alt="" />

            <div class="card-section">
                {{ .Summary }}
            </div>
        </div>
    </div>
</div>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/blog/summary.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
