{{ define "main" }}
    {{/* SECTION: Start Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- Start Template 'layouts/taxonomy/category.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: Start Template */}}


    <section class="section">
        <div class="container">
            <h1 class="taxonomies-headline">{{ site.Params.layouts_taxonomy.category }}</h1>
            <ul>
                {{ range $key, $taxonomy := site.Taxonomies.categories }}

                    <li>{{ $key | title }}</li>

                    <ul>
                        {{ range $taxonomy.Pages }}
                            <li hugo-nav="{{ .RelPermalink}}">
                                <a href="{{ .Permalink}}">{{ .LinkTitle }}</a>
                            </li>
                        {{ end }}
                    </ul>

                {{ end }}
            </ul>
        </div>
    </section>




    {{/* SECTION: End Template
    ======================================================================= */}}
    {{ if site.IsServer }}
        {{ `<!-- End Template 'layouts/taxonomy/category.html' -->` | safeHTML }}
    {{ end }}
    {{/* End: End Template */}}
{{ end }}


{{ define "addscripts" }}
    {{/* Here you can define individual scripts for the site which will use/overwrite the block in 'layouts/_default/baseof.html' */}}
{{ end }}
