{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/production/meta-tags-complete.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="generator" content="1&amp;1 MyWebsite" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />

    <title>fewo-monteurzimmer.de- Ferienwohnung nahe Frankfurt</title>

    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="Monteurzimmer Hanau,Unterkunft Hanau,Ferienwohnung Frankfurt,Monteurzimmer Offenbach,Monteurzimmer Gelnhausen,Zimmer Hanau,Fewo Frankfurt,Monteurzimmer Aschaffenburg,Unterkunft Offenbach,Monteurunterkunft Hanau" />
    <meta name="description" content="Monteurzimmer Hanau,Unterkunft Hanau,Ferienwohnung Frankkfurt," />
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="Fewo-Monteurzimmer.de - Ferienwohnung in Frankfurt" />
    <meta property="og:image" content="http://www.fewo-monteurzimmer.de/s/misc/logo.png?t=1490667925" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.fewo-monteurzimmer.de" />
    <meta property="og:description" content="Ferienwohnung/Monteurzimmer nahe Frankfurt und Umgebung. Günstige Angebote bei Langzeitanmietung. Küche, Wöchentliche Reinigung &amp; Bettwäschewechsel" />

    <meta property="dcterms:title" content="Fewo-Monteurzimmer.de - Ferienwohnung in Frankfurt" />
    <meta property="dcterms:identifier" content="www.fewo-monteurzimmer.de" />
    <meta property="dcterms:description" content="Ferienwohnung/Monteurzimmer nahe Frankfurt und Umgebung. Günstige Angebote bei Langzeitanmietung. Küche, Wöchentliche Reinigung &amp; Bettwäschewechsel" />
    <meta property="dcterms:subject" content="langenselbold ferienwohnung, ferienwohnung zimmer, monteurzimmer hanau, ferienwohnung monteure, zimmer ferienwohnung, gelnhausen ferienwohnung, aschaffenburg ferienwohnung" />

    <meta name="DC.title" content="Fewo-Monteurzimmer.de - Ferienwohnung in Frankfurt" />
    <meta name="DC.identifier" content="www.fewo-monteurzimmer.de" />
    <meta name="DC.description" content="Ferienwohnung/Monteurzimmer nahe Frankfurt und Umgebung. Günstige Angebote bei Langzeitanmietung. Küche, Wöchentliche Reinigung &amp; Bettwäschewechsel" />
    <meta name="DC.subject" content="langenselbold ferienwohnung, ferienwohnung zimmer, monteurzimmer hanau, ferienwohnung monteure, zimmer ferienwohnung, gelnhausen ferienwohnung, aschaffenburg ferienwohnung" />

    <meta name="geo.placename" content="Rathausstraße 46, 63594 Hasselroth, Deutschland" />
    <meta name="geo.position" content="50.1665070;9.0931900" />
    <meta name="geo.region" content="DE-Hessen" />

    <meta name="ICBM" content="50.1665070, 9.0931900" />

    <meta property="og:type" content="business.business" />
    <meta property="og:url" content="https://www.fewo-monteurzimmer.de/" />
    <meta property="og:title" content="fewo-monteurzimmer.de- Ferienwohnung nahe Frankfurt" />
    <meta property="og:description" content="Monteurzimmer Hanau,Unterkunft Hanau,Ferienwohnung Frankkfurt," />
    <meta property="og:image" content="https://www.fewo-monteurzimmer.de/s/misc/logo.png?t=1537770509" />

    <meta property="business:contact_data:country_name" content="Deutschland" />
    <meta property="business:contact_data:street_address" content="Rathausstr. 46" />
    <meta property="business:contact_data:locality" content="Hasselroth /Neuenhaßau" />
    <meta property="business:contact_data:email" content="fewo-monteurzimmer@web.de" />
    <meta property="business:contact_data:postal_code" content="63594" />
    <meta property="business:contact_data:phone_number" content="+49 15116179205" />

    <meta property="business:hours:day" content="MONDAY" />
    <meta property="business:hours:start" content="07:00" />
    <meta property="business:hours:end" content="22:00" />
    <meta property="business:hours:day" content="TUESDAY" />
    <meta property="business:hours:start" content="07:00" />
    <meta property="business:hours:end" content="22:00" />
    <meta property="business:hours:day" content="WEDNESDAY" />
    <meta property="business:hours:start" content="07:00" />
    <meta property="business:hours:end" content="22:00" />
    <meta property="business:hours:day" content="THURSDAY" />
    <meta property="business:hours:start" content="07:00" />
    <meta property="business:hours:end" content="22:00" />
    <meta property="business:hours:day" content="FRIDAY" />
    <meta property="business:hours:start" content="07:00" />
    <meta property="business:hours:end" content="22:00" />
    <meta property="business:hours:day" content="SATURDAY" />
    <meta property="business:hours:start" content="07:00" />
    <meta property="business:hours:end" content="22:00" />
    <meta property="business:hours:day" content="SUNDAY" />
    <meta property="business:hours:start" content="07:00" />
    <meta property="business:hours:end" content="22:00" />
</head>




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/production/meta-tags-complete.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
