{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/production/prefetch.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




<link rel="dns-prefetch" href="//www.google-analytics.com">

{{ if not .IsHome }}
    <link rel="prerender" href="{{ site.BaseURL }}">
{{ end }}

{{ if .IsPage }}
    {{ if .NextInSection }}
        <link rel="prefetch" href="{{ .NextInSection.Permalink }}">
    {{ end }}

    {{ if .PrevInSection }}
        <link rel="prefetch" href="{{ .PrevInSection.Permalink }}">
    {{ end }}
{{ end }}




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/production/prefetch.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
