{{/* SECTION: Start Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- Start Partial 'layouts/partials/production/production_elements.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: Start Partial---------------------- */}}




{{ template "_internal/opengraph.html" . }}
{{ template "_internal/google_news.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ partial "production/ie.html" . }}

<link href="https://plus.google.com/{{ site.Params.social.googleplus }}" rel="publisher">

{{ range .Params.categories }}
    <meta property="article:section" content="{{ . }}" />
{{ end }}

{{ if isset .Params "date" }}
    <meta property="article:published_time" content="{{ time .Date }}" />
{{ end }}

{{ if site.Params.geo.latitude }}
    <meta name="icbm" content="{{ site.Params.geo.latitude }},{{ site.Params.geo.longitude }}">
    <meta name="geo.position" content="{{ site.Params.geo.latitude }};{{ site.Params.geo.longitude }}">
{{ end }}

{{ if and (eq hugo.Environment "production") (ne site.GoogleAnalytics "") }}
    {{ partial "google/google_analytics.html" . }}
{{ end }}

{{/* Switch off Microsoft junk */}}
<meta name="MSSmartTagsPreventParsing" content="true">
<meta http-equiv="imagetoolbar" content="no">

<link rel="canonical" href="{{ .Permalink }}">




{{/* SECTION: End Partial
======================================================================= */}}
{{ if site.IsServer }}
    {{ `<!-- End Partial 'layouts/partials/production/production_elements.html' -->` | safeHTML }}
{{ end }}
{{/* --------------------------End: End Partial------------------------ */}}
